@model PM
@{
    ViewData["Title"] = "PM";
}

<form class="dx-fieldset" method="POST">
    <div class="dx-fieldset-header">Grouped lookup</div>
    <div class="dx-field">
        <ul>
            <li>
                <input type="text" class="form-control" asp-for="@Model.Station">

        </ul>
        <button type="submit" class="btn btn-default">Submit</button>


    </div>
    <div id="PM">
        <p>
            Station  : <b class="Station">@Model.Station</b><br />
            DateTime : <b class="DateTime">@Model.DataTime</b><br />
            PM2.5: <b class="pm-25">@Model.PM25Value</b><br />
            PM10 : <b class="pm-10">@Model.PM10Value</b><br />
            SO2 : <b class="SO2">@Model.So2Value</b><br />
            CO2 : <b class="CO2">@Model.No2Value</b><br />
            CO  : <b class="CO">@Model.CoValue</b><br />
            O3  : <b class="O3">@Model.O3Value</b>
        </p>
    </div>
</form>



<script>
/*
    function showPMInfo(PM) {
        $(".Station").text(PM.Station || "송파구");
        $(".DateTime").text(PM.DateTime || "2019-01-01 12:34");
        $(".pm-25").text(PM.PM25 || "55");
        $(".pm-10").text(PM.PM10 || "1");
        $(".SO2").text(PM.SO2 || "2");
        $(".CO2").text(PM.CO2 || "3");
        $(".CO").text(PM.CO || "4");
        $(".O3").text(PM.O3 || "5");
    }
  */

    @*function lue_valueChanged()
    {
        @Program.pmdata.GetPMData("송파구");
    }*@
    //function button_click() {


    //    var data = new Pmdata("qwe");
    //    $(".Station").text(data.station);
    //    $(".DateTime").text(data.datetime);
    //    $(".pm-25").text("" || "55");
    //    $(".pm-10").text("" || "1");
    //    $(".SO2").text("" || "2");
    //    $(".CO2").text("" || "3");
    //    $(".CO").text("" || "4");
    //    $(".O3").text("" || "5");

    //}

    //function Pmdata(station, datetime) {

    //    this.station = station
    //    this.datetime = ""

    //}

    @*function showPMInfo() {
            @Program.pmdata.GetPMData("송파구")
            @{ var dt = Program.pmdata.DataTime;
                var pm25 = Program.pmdata.PM25Value;
                var pm10 = Program.pmdata.PM10Value;
                var so2 = Program.pmdata.So2Value;
                var no2 = Program.pmdata.No2Value;
                var co = Program.pmdata.CoValue;
                var o3 = Program.pmdata.O3Value;
            }

        $(".Station").text("송파구" || "송파구");
        $(".DateTime").text(@dt || "2019-01-01 12:34");
        $(".pm-25").text(@pm25 || "55");
        $(".pm-10").text(@pm10 || "1");
        $(".SO2").text(@so2 || "2");
        $(".CO2").text(@no2 || "3");
        $(".CO").text(@co || "4");
        $(".O3").text(@o3 || "5");
    }*@


</script>
